
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Users</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i>Users List
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success">Create new</button>
            </div>
        </div>
        <hr />
        User Table
        <!--<table id="IdTableUser" class="table table-dark table-striped display cell-border" style="width : 100%">-->
        <table id="IdTableUser" class="table table-dark display cell-border" style="width : 100%">
            <thead>
                <tr>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Names</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">LastNames</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Email</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Password</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--
    AJAX , para pintar lo que tenemos en la base de datos en la tabla tbody
-->
@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script>

        var tabladata;
        var filaSeleccionada;
        tabladata = $("#IdTableUser").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("UsersList", "Home")',
                type: "GET",
                dataType: "json"
            }
            ,
            "columns": [
                { "data": "Nombres" },
                { "data": "Apellidos" },
                { "data": "Correo" },
                { "data": "Clave" },
                {
                    "data": "Activo", "render": function (value) {
                        if (value) {
                            return '<span class="badge bg-success">On</span>'
                        } else {
                            return '<span class="badge bg-success">Of</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width":"90px",
                }
                

            ],          
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            },
        });
       
    </script>

}
